.adwantages {

    margin-top: vc(48);
    margin-bottom: vc(99);

    &-items {
        display: flex;
        align-items: center;

        @include desktop {
            margin-right: vc(30);
            margin-bottom: vc(46);
            width: 29%;
        }

        @include devices {
            margin-bottom: vc(5);
        }
    }

    &-icon {
        flex-shrink: 0;
        margin-right: vc(12);
        width: vc(67);

        @include devices {
            margin-right: vc(25);
            width: vc(59.24)
        }
    }

    &-text {
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(20);

        @include devices {
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    @include desktop {
        display: flex;
        flex-wrap: wrap;
    }

    @include devices {
        margin-top: vc(23);
        margin-bottom: vc(59);
    }
}

.form {
    padding: vc(94) vc(110) vc(95);
    background: $color-brown;
    border-radius: 5px;

    &-input {
        margin-bottom: vc(10);
        overflow: hidden;
        border-radius: 10px;

        background: $color-white;

        input {
            padding: vc(25) vc(30);
            width: 100%;
            height: 100%;
            border: none;
            font-weight: 400;
            font-size: vc(16);
            line-height: vc(20);
            outline: none;

            &::placeholder {
                font-weight: 400;
                font-size: vc(16);
                line-height: vc(20);
                color: $color-text;

                @include devices {
                    font-size: vc(12);
                    line-height: vc(15);
                }
            }

            @include devices {
                padding: vc(14) vc(20);
                font-size: vc(12);
                line-height: vc(15);
            }
        }
    }

    &-textarea {
        margin-bottom: vc(17);
        overflow: hidden;
        border-radius: 10px;
        height: vc(150);
        textarea {
            border: none;
            border-radius: 10px;
            padding: vc(25) vc(30);
            width: 100%;
            height: 100%;
            font-weight: 400;
            font-size: vc(16);
            line-height: vc(20);
            resize: none;

            &::placeholder {
                font-weight: 400;
                font-size: vc(16);
                line-height: vc(20);
                color: $color-text;

                @include devices {
                    font-size: vc(12);
                    line-height: vc(15);
                }
            }

            @include devices {
                padding: vc(14) vc(20);
                font-size: vc(12);
                line-height: vc(15);
            }
        }
    }

    &-container {
       @include desktop {
           display: flex;
           justify-content: space-between;

           .form-input {
               width: vc(280);
           }
       }
    }

    &-button {
        margin-bottom: vc(23);
        padding: vc(27) vc(23);
        width: 100%;
        background: $color-theme;
        border: 2px solid $color-brown;
        border-radius: 10px;
        font-weight: 400;
        font-size: vc(16);
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-white;
        transition: all 0.3s linear;

        @include desktop {
            &:hover {
                background: $color-brown;
                border: 2px solid $color-theme;
            }
        }

        @include devices {
            margin-bottom: 9px;
            padding-top: vc(13);
            padding-bottom: vc(10);
            font-size: vc(13);
            line-height: vc(16);
        }
    }

    &-text {
        font-weight: 300;
        font-size: vc(12);
        line-height: vc(12);
        color: $color-white;
        text-align: center;

        a {
            text-decoration: underline;
        }

        @include devices {
            font-size: vc(10);
            line-height: vc(12);
        }
    }

    &-success {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
        background: $color-brown;

        &-svg {
            margin: 0 auto vc(101);
            width: vc(146);
            height: vc(146);

            @include devices {
                margin-bottom: vc(58);
                width: vc(110);
                height: vc(110);
            }
        }
    }

    @include devices {
        margin: vc(31) vc(-30);
        padding: vc(33) vc(30) vc(24);
    }
}
