.about-card {
    display: flex;
    padding: vc(108) 0 vc(106);

    &--color {
        color: $color-white;
        background: $color-brown;
    }

    &:nth-child(2n - 1) {
        .about-right {
            @include desktop {
                margin-left: vc(142);
            }
        }
    }

    &:nth-child(2n) {
        @include desktop {
            .about-right {
                order: 1;
            }
        }

        .about-left {

            order: 2;

            @include desktop {
                padding-left: vc(158);
            }
        }

        @include desktop {
            .about-img {
                width: vc(950);
            }
        }

        .about-number {
            span {
                color: $color-white;
            }
        }

        .title-md,
        .text-md {
            color: $color-white;
        }
    }

    .title-md {
        margin-top: vc(27);
        margin-bottom: vc(43);

        @include devices {
            margin: vc(16) 0 vc(22);
        }
    }

    .text-md {
        margin-bottom: vc(15);
        font-size: vc(16);
        line-height: vc(20);

        &:last-child {
            margin-bottom: 0;
        }

        @include devices {
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    @include devices {
        flex-flow: column;
        padding-top: vc(47);
        padding-bottom: vc(41);

        &--last {
            .about-right {
                order: 1;
            }

            .about-left {
                order: 2;
            }
        }

        &--first {
            .about-right {
                margin-top: vc(114);
            }
        }
    }
}

.about {
    &-left {
        display: flex;
    }

    &-img {
        flex-shrink: 0;
        overflow: hidden;

        img {
            height: 150%;
            object-fit: cover;
        }

        &--1 {
            position: relative;
            top: vc(-57);

            @include devices {
                top: vc(-84);
            }
        }

        &--2 {
            position: relative;
            right: vc(29);

            @include devices {
                right: vc(147);
                top: vc(89);
            }
        }

        &--50 {
            width: vc(420);
            height: vc(482);

            @include devices {
                width: 231px;
                height: 258px;
            }
        }


        &--3 {
            margin-right: vc(31);
            width: vc(389);
            height: vc(559);

            @include devices {
                margin-right: vc(20);
                margin-top: vc(33);
                width: vc(148);
                height: vc(216);
            }
        }

        &--4 {
            width: vc(389);
            height: vc(559);

            @include devices {
                margin-top: vc(33);
                width: vc(148);
                height: vc(216);
            }
        }

        @include devices {
            &--lg {
                margin-top: vc(22);
                width: vc(315);
                height: vc(335);
            }
        }
    }

    &-right {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;

    }

    &-number {
        font-weight: 300;
        font-size: vc(62);
        line-height: vc(77);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-theme;

        span {
            color: $color-brown;
        }

        @include devices {
            font-size: vc(30);
            line-height: vc(37);
        }
    }

    @include devices {
        margin-top: vc(61);

        .container {
            flex-flow: column;
        }
    }
}

.company {
    padding-top: vc(70);
    background: $color-brown;

    .title {
        margin-bottom: vc(15);
    }

    .text-xs {
        color: $color-white;
    }

    .gallery-img {
        height: vc(300);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include devices {
        padding-top: 32px;
    }
}
