.gallery {

    margin-top: vc(65);
    margin-bottom: vc(97);

    &-item {
        margin: 0 0 28px;

        cursor: pointer;

        @include desktop {
            width: calc(25% - 15px);
        }

        @include devices {
            width: 100%;
            margin: 0 0 vc(31);
        }
    }

    &-img {

    }

    &-link {
        margin-top: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-white;
        padding: vc(18) 0 vc(16);
        border: 2px solid $color-theme;
        background: $color-theme;
        border-radius: 10px;
        transition: all 0.5s linear;

        @include desktop {
            &:hover {
                background: $color-brown;
            }
        }

        @include devices {
            border-radius: 4px;
            padding: vc(13) 0 vc(10);
            font-size: vc(13);
            line-height: vc(16);
        }
    }

    &--portfolio {
        margin-bottom: 37px;
    }

    @include desktop {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    @include devices {
        margin-top: vc(29);
    }

    @include devices {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        &--company {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 0;
            margin-bottom: vc(20);

            .gallery-item {
                margin-bottom: vc(10);
                width: calc(50% - 10px);

                .gallery-img {
                    width: vc(148);
                    height: vc(135);

                    img {
                        border-radius: 4px;
                    }
                }

                .title-xs {
                    margin: vc(10) 0 -1px;
                    font-size: vc(16);
                    line-height: vc(18);
                }

                .text-xs {
                    font-size: vc(10);
                    line-height: vc(12);
                }
            }
        }
    }
}

.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: var(--vh);
    margin-top: 0 !important;

    @include devices {
        display: block;
        overflow-y: auto;
    }

    &-bg {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(68, 68, 68, 0.7);
        cursor: pointer;
    }

    &-content {
        position: relative;
        z-index: 2;

        background: $color-white;
        border-radius: 20px;

        @include desktop {
            display: flex;
            padding: vc(107) vc(111);
            width: vc(1650);
        }

        @include devices {
            margin-top: vc(44);
            margin-bottom: vc(44);
            border-radius: 10px 10px 0px 0px;
            padding: vc(29) vc(30) vc(30);
            width: 100%;
        }
    }

    &-left {

    }

    &-right {
        position: relative;
        @include desktop {
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            width: 100%;
            margin-left: vc(110);
        }
    }

    &-close {
        position: absolute;
        right: 0;
        top: 0;
        width: vc(25.16);
        height: vc(25.16);
        cursor: pointer;

        @include devices {
            width: vc(20);
            height: vc(20);
        }
    }

    &-right {

    }

    &-title {
        font-family: $HelveticaNW;
        font-weight: 500;
        font-size: vc(32);
        line-height: vc(35);
        color: $color-theme;

        @include devices {
            width: 90%;
            font-size: vc(24);
            line-height: vc(26);
            word-break: break-word;
        }
    }

    &-number {
        margin-top: vc(12);
        margin-bottom: vc(44);
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(20);
        color: #ADADAD;

        @include devices {
            margin-top: vc(6);
            margin-bottom: vc(20);
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    &-info {
        @include devices {
            margin-top: vc(21);
        }
    }

    &-line {
        display: flex;
        justify-content: space-between;
        color: #ADADAD;
        margin-bottom: vc(12);

        &:last-child {
            margin-bottom: 0;
        }

        @include devices {
            margin-bottom: vc(4);
        }
    }

    &-param {
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(20);

        @include devices {
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    &-value {
        font-weight: 500;
        font-size: vc(20);
        line-height: vc(25);

        @include devices {
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    &-button {
        margin-top: vc(25);
        padding: vc(25) 0 vc(23);
        background: $color-theme;
        border: 2px solid $color-brown;
        border-radius: 10px;
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(16);
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-white;
        transition: all 0.5s linear;
        cursor: pointer;

        @include desktop {
            &:hover {
                background: $color-brown;
            }
        }

        @include devices {
            margin-top: vc(12);
            border-radius: 4px;
            padding-top: vc(13);
            padding-bottom: vc(10);
            font-size: 13px;
            line-height: 16px;
        }
    }


}

.popup-form {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: var(--vh);
    margin-top: 0 !important;

    @include devices {
        display: block;
        overflow-y: auto;
    }

    &-bg {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(68, 68, 68, 0.7);
        cursor: pointer;
    }

    &-content {
        position: relative;
        z-index: 2;
        border-radius: 20px;

        .form {
            position: relative;
            border-radius: 20px;


            .title-md {
                position: relative;
            }

            @include desktop {
                width: vc(810);
            }

            @include devices {
                border-radius: 10px 10px 0px 0px;
            }
        }

        @include desktop {
            display: flex;
        }

        @include devices {
            margin-top: vc(44);
            margin-bottom: vc(44);
            border-radius: 10px 10px 0px 0px;
            padding: vc(29) vc(30) vc(30);
            width: 100%;
        }
    }

    &-left {

    }

    &-right {
        position: relative;
        @include desktop {
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            width: 100%;
            margin-left: vc(110);
        }
    }

    &-close {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        width: vc(25.16);
        height: vc(25.16);
        cursor: pointer;

        @include devices {
            width: vc(20);
            height: vc(20);
        }
    }
}

.load-more {
    margin: 0 auto 110px;
    padding: 18px 0;
    width: 312px;
    border: 1px solid #686868;
    border-radius: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #686868;
    transition: all 0.5s linear;
    cursor: pointer;

    @include desktop {
        &:hover {
            color: $color-white;
            background: $color-theme;
        }
    }

    @include devices {
        margin: vc(55) auto 57px;
        border-radius: 4px;
        padding-top: vc(13);
        padding-bottom: vc(10);
        font-size: vc(13);
        line-height: vc(16);
    }
}
