.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: vc(125);

    &-left {

    }

    &-info {
        margin-top: vc(26);
    }
    &-title {
        margin-bottom: vc(12);
        font-weight: 500;
        font-size: vc(20);
        line-height: vc(25);
        color: $color-brown;

        @include devices {
            margin-bottom: vc(5);
            font-size: vc(16);
            line-height: vc(20);
        }
    }

    &-text {
        margin-bottom: vc(37);
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(20);

        @include devices {
            margin-bottom: vc(20);
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    &-links {
        margin-bottom: vc(26);
        a {
            display: block;
            font-weight: 400;
            font-size: vc(16);
            line-height: vc(20);

            @include devices {
                font-size: vc(12);
                line-height: vc(15);
            }
        }
    }

    &-right {
      @include desktop {
          margin-left: vc(170);
          width: vc(1090);
      }
    }

    &-button {
        margin-top: 60px;
        display: block;
        border-radius: 10px;
        padding: vc(25) 0 vc(21);
        border: 2px solid #B48C45;
        width: vc(390);
        font-size: vc(16);
        line-height: vc(16);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        background: $color-theme;
        transition: all 0.5s linear;

        @include desktop {
            &:hover {
                color: $color-brown;
            }
        }

        @include devices {
            margin-top: vc(20);
            border-radius: 4px;
            padding: vc(13) 0 vc(10);
            width: 100%;
            font-size: vc(13);
            line-height: vc(16);
        }
    }

    @include devices {
        display: block;
        margin-bottom: 0;
    }
}

.map {
   iframe {
       @include desktop {
           border-radius: 20px;
           width: vc(1090);
           height: vc(573);

       }
       @include devices {
           width: vc(375);
           height: vc(500);
       }
   }

    @include devices {
        margin: vc(26) vc(-30) 0;
    }
}
