extends @pug/base

append globals
    - pageName = 'home'
    - title = data[pageName]?.meta?.title ?? data.general.title
    - description = data[pageName]?.meta?.description ?? data.general.description
    - image = data[pageName]?.meta?.image ?? data.general.image

append vars
    - meta.keywords = data[pageName]?.meta?.keywords ?? data.general.keywords

    each linkValue, linkKey in data.general.link
        - link[linkKey] = linkValue

    each metaValue, metaKey in data.general.meta
        - meta[metaKey] = metaValue

block content
    .site(data-scroll-container)
        include @components/header/header
        include @pages/process/page
        include @components/footer/footer
    .to-top
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25" r="24" fill="#B48C45" stroke="#005563" stroke-width="2"/>
        <path d="M13.096 30.2632C12.4713 30.1735 11.8331 30.1271 11.1843 30.1271L11.1843 29.8416C18.7344 29.8416 24.8661 23.5495 24.8661 15.7896L25.1293 15.7896C25.1293 23.5495 31.2561 29.8416 38.8159 29.8416L38.8159 30.1271C38.1667 30.1271 37.5281 30.1735 36.9031 30.2632L13.096 30.2632Z" fill="#005563"/>
        </svg>
