.process {
    margin-top: vc(348);

    &-item {
        position: relative;
        display: flex;
        justify-content: flex-end;

        color: $color-theme;

        transition: all 0.5s linear;

        .process-svg--1,
        .process-svg--2,
        .process-svg--3,
        .process-svg--4,
        .process-svg--6
        {
            rect, circle, path {
                fill: transparent;
            }
        }

        [cx="84.5"] {
            fill: #F5F5F5 !important;
        }


        path[fill="#B48C45"] {
            fill: $color-brown;
        }

        path[stroke="transparent"] {
            stroke-width: 0.6;
        }

        [fill-rule="evenodd"] {
            fill: #F5F5F5 !important;
            stroke: $color-theme;
        }

        //path[fill="#005563"] {
        //    fill: $color-theme;
        //}

        &:nth-child(2n - 1) {
            @include desktop {
                .process-content {
                    padding-left: vc(255);
                }
            }
        }

        &:nth-child(2n) {
           @include desktop {
               justify-content: flex-start;

               .process-img {
                   left: auto;
                   right: 0;
               }

               .process-content {
                   padding-right: vc(140);
               }
           }

            @include devices {
                .process-content {
                    margin-left: vc(-30);
                }
                .process-img {
                    margin-left: vc(0);
                }
            }
        }

        &.is-inview{
            color: $color-white;


            rect, circle, path {
                stroke: $color-white;
                fill: $color-brown;
            }

            [fill-rule="evenodd"] {
                fill: $color-brown !important;
                stroke: $color-white;
            }

            [cx="84.5"] {
                fill: $color-brown !important;
            }

            @include desktop {
                background: $color-brown;
            }

            @include devices {
                .process-content {
                    background: $color-brown;
                }
            }
        }

        @include desktop {
            margin-bottom: vc(288);
            padding: vc(102) vc(140) vc(101) 0;
            background: $color-item-card;
        }

        @include devices {
            display: block;
            margin-bottom: vc(30);
        }
    }

    &-img {

        bottom: vc(101);
        width: vc(810);
        height: vc(575);
        overflow: hidden;

        img {
            margin-bottom: vc(-30);
            margin-top: vc(-30);
            width: 100%;
            height: 130%;
            object-fit: cover;
        }

        @include desktop {
            position: absolute;
            left: 0;
        }

        @include devices {
            margin-left: vc(-30);
            flex-shrink: 0;
            width: 345px;
            height: 221px;
        }
    }

    &-content {
        @include desktop {
            padding-left: vc(140);
            width: vc(810);
        }

        @include devices {
            padding: 50px 29px 25px;

            margin-top: vc(-30);
            width: 110%;
            background: $color-item-card;
            transition: all 0.5s linear;
        }
    }

    &-svg {
        &--1 {
            width: vc(100.38);
            height: vc(84);

            @include devices {
                width: 65px;
                height: 55px;
            }
        }

        &--2 {
            width: vc(124.38);
            height: vc(53);

            @include devices {
                width: 84.49px;
                height: 36px;
            }
        }

        &--3 {
            width: vc(108);
            height: vc(90);

            @include devices {
                width: 63.6px;
                height: 53px;
            }
        }

        &--4 {
            width: vc(101.38);
            height: vc(106);

            @include devices {
                width: 65.04px;
                height: 68px;
            }
        }

        &--5 {
            width: vc(115.8);
            height: vc(113.97);

            @include devices {
                width: 70px;
                height: 68.9px;
            }
        }

        &--6 {
            width: vc(127.38);
            height: vc(115.29);

            @include devices {
                width: 72.14px;
                height: 65.29px;
            }
        }

        &--7 {
            width: vc(87.66);
            height: vc(129.2);

            @include devices {
                width: 50px;
                height: 73.69px;
            }
        }
    }

    &-step {
        margin-top: vc(54);
        margin-bottom: vc(15);
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(16);
        letter-spacing: 0.1em;
        text-transform: uppercase;

        @include devices {
            margin: 26px 0 3px;
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    &-title {
        margin-bottom: vc(40);
        font-weight: 700;
        font-size: vc(32);
        line-height: vc(32);
        letter-spacing: 0.1em;
        text-transform: uppercase;

        span {
            display: block;
            opacity: 0.5;
        }

        @include devices {
            margin-bottom: vc(10);
            font-size: vc(20);
            line-height: vc(25);
        }
    }

    &-text {
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(20);

        @include devices {
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    @include devices {
        margin-top: vc(20);
    }
}
