:root {
    --width-base: #{$laptop};
    --width-current: #{$laptop} * 1px;
    --width-multiplier: var(--width-current) / var(--width-base);

    @include laptop {
        --width-current: 100vw;
    }

    @include devices {
        --width-base: #{$mobile};
        --width-current: 100vmin;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: $font-primary;
    scroll-behavior: smooth;

    &.has-cursor,
    &.has-cursor * {
        // stylelint-disable-next-line
        cursor: none !important;
    }

    &.is-lock-scroll,
    &.is-lock-scroll body {
        overflow: hidden;
    }
}

body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-decoration-skip: objects;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: $Helvetica;

    &.is-home {
        position: fixed;
        left: 0;
        top: 0;
    }
}

main {
    flex: 1;
}

p {
    margin: 0;
}

a,
button {
    outline: none;
    transition: $duration-normal;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;
}

svg {
    display: block;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    fill: currentColor;
}

figure,
picture {
    display: inline-block;
    margin: 0;
    line-height: 0.75;

    img {
        width: 100%;
    }
}

img {
    vertical-align: top;
    max-width: 100%;
    user-select: none;
}

img[draggable="false"] {
    pointer-events: none;
    // stylelint-disable-next-line
    -webkit-user-drag: none;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

video {
    outline: none;
    width: 100%;
    height: 100%;
}

iframe {
    display: block;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    background-color: transparent;
    transition: $duration-normal;
    user-select: none;

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        color: currentColor;
        transform: translateZ(0);
    }
}

.js-lazy-load:not(.is-loaded) {
    max-height: 50vh;
}

.container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    padding: 0 vc(15);
    max-width: 100%;
    max-width: vc(1680);

    &--df {
        display: flex;
        justify-content: space-between;
    }

    @include devices {
        padding: 0 vc(30);
    }
}

.site {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh; // fallback
    // stylelint-disable-next-line
    min-height: var(--vh);
}

.c-scrollbar {
    z-index: 1;
}

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
    *,
    *:before,
    *:after {
        animation-duration: 0.001s !important;
        animation-delay: 0s !important;
        transition-duration: 0.001s !important;
        transition-delay: 0s !important;
    }
}

/* stylelint-enable */

canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.is-home {
    background: $color-theme;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: vc(55);
    margin-bottom: vc(65);
    font-weight: 400;
    font-size: vc(14);
    line-height: vc(17);
    color: $color-gray;

    li {
        &::after {
            content: "—";
            margin: 0 vc(4);
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        a {
            color: $color-gray;
        }
    }

    @include devices {
        margin-top: vc(27);
        margin-bottom: vc(25);
        font-size: vc(10);
        line-height: vc(12);
    }
}

.title {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: vc(40);
    font-weight: 300;
    font-size: vc(62);
    line-height: vc(77);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-theme;
    white-space: nowrap;

    &::after {
        content: "";
        position: absolute;
        right: -25px;
        top: -10px;
        width: 31.38px;
        height: 30px;
        background: url("../assets/images/icon.svg") center center no-repeat;
        background-size: contain;

        @include devices {
            right: vc(-10);
            top: vc(-4);
            width: vc(13);
            height: vc(13);
        }
    }

    &-md {
        margin-top: vc(76);
        font-weight: 700;
        font-size: vc(32);
        line-height: vc(40);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-theme;

        .form & {
            margin-top: 0;
            margin-bottom: vc(31);
            color: $color-white;
        }

        @include devices {
            margin-top: vc(56);
            font-size: 20px;
            line-height: 25px;

            .form & {
                margin-bottom: 22px;
            }
        }
    }

    &-sm {
        margin-bottom: vc(50);
        font-weight: 700;
        font-size: vc(16);
        line-height: vc(20);
        color: $color-brown;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        @include devices {
            margin-bottom: vc(32);
            font-size: vc(20);
            line-height: vc(25);
        }
    }

    &-xs {
        margin-top: vc(26);
        margin-bottom: vc(5);
        font-family: $HelveticaNW;
        font-weight: 500;
        font-size: vc(32);
        line-height: vc(35);
        color: $color-theme;

        @include devices {
            margin-top: vc(17);
            margin-bottom: vc(9);
            font-size: vc(24);
            line-height: vc(26);
        }
    }

    &--white {
        color: $color-white;

        &::after {
            background: url("../assets/images/icon-white.svg") center center no-repeat;
            background-size: contain;
        }
    }

    @include devices {
        margin-bottom: 5px;
        font-size: vc(30);
        line-height: vc(37);
    }
}

.text {
    margin-bottom: vc(53);
    max-width: vc(734);
    font-weight: 400;
    font-size: vc(16);
    line-height: vc(20);
    color: $color-text;

    &--mb {
        margin-bottom: vc(20);
    }

    &-form {
        margin: vc(7) auto 0;
        width: vc(455);
        font-weight: 500;
        font-size: vc(20);
        line-height: vc(25);
        color: $color-white;

        @include devices {
            width: vc(275);
            margin-top: vc(7);
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    &-md {
        font-size: vc(14);
        line-height: vc(17);
        color: $color-text;

        @include devices {
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    &-xs {
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(20);
        color: $color-gray;

        @include devices {
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    @include devices {
        margin-bottom: vc(21);
        font-size: vc(12);
        line-height: vc(15);
    }
}

.anim-fade {
    position: relative;
    opacity: 0;
    transform: translateY(120px);
    transition: opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1);

    &.is-inview {
        opacity: 1;
        transform: none;
    }

    &--childs {
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                transition-delay: $i * 0.1 + s;
            }
        }
    }
}

.anim-scale {
    position: relative;
    opacity: 0;
    transform: scale(1.5);
    transition: all .6s cubic-bezier(.215,.61,.355,1);

    &.is-inview {
        opacity: 1;
        transform: scale(1);
    }

    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            transition-delay: $i * 0.1 + s;
        }
    }
}

.col {
    @include desktop {
        width: vc(810);
    }
}
