// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #000;
$color-white: #fff;
$color-light: #b7b7b7;
$color-theme: #005563;
$color-brown: #B48C45;
$color-beige: #FACEC3;
$color-gray: #ADADAD;
$color-text: #686868;
$color-item-card: #F5F5F5;
$color-blacks: #515151;
$color-border: #D9D9D9;

// FONTS
// stylelint-disable-next-line
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$Helvetica: 'HelveticaNeueCyr', sans-serif;
$HelveticaNW: 'HelveticaNeueCyrNW', sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$desktop: 1025;
$desktop-xl: 1920;
$laptop: 1680;
$tablet: 768;
$mobile: 375;
$desktop-vh: 750;
