.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: vc(81);

    &-left {
        display: flex;
        align-items: center;
    }

    &-right {
        display: flex;
        align-items: center;

        @include devices {
            flex-wrap: wrap;
            margin-left: auto;

            .is-home & {
                margin-left: 0;
                margin-top: vc(36);
                margin-bottom: vc(41);
            }
        }
    }

    &-logo {
        display: block;
        flex-shrink: 0;
        width: vc(181);
        height: vc(68.87);
        color: $color-theme;

        .is-home & {
            color: $color-white;
        }

        &--white {
            color: $color-white;
        }

        @include devices {
            position: relative;
            left: vc(-8);
            width: vc(164);
            height: vc(56.42);
        }
    }

    &-text {
        display: none;
        margin-left: vc(69);
        padding-top: vc(11);
        font-weight: 700;
        font-size: vc(24.2871);
        line-height: vc(30);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-white;

        svg {
            display: inline-block;
            width: vc(21.45);

            height: vc(20.5);

            @include devices {
                width: vc(14.89);
                height: vc(14.24);
            }
        }

        .is-home & {
            display: block;
        }

        @include devices {
            margin-left: vc(5);
            margin-right: 0;
            width: vc(165);
            font-size: vc(16.8621);
            line-height: vc(21);

        }
    }

    &-social {
        display: flex;
        align-items: center;

        @include devices {
            display: none;

            .is-home & {
                display: flex;
            }
        }
    }

    &-link {
        margin-right: vc(56.53);
        transition: all 0.5s linear;

        &--vk {
            margin-right: vc(46.61);
            width: vc(52.86);
            height: vc(52.86);

            @include devices {
                margin-right: vc(21);
                width: vc(41);
                height: vc(41);
            }
        }

        &--fb {
            width: vc(54);
            height: vc(54);

            @include devices {
                width: vc(42);
                height: vc(42);
            }
        }

        @include devices {
            margin-right: vc(21);
        }
    }

    &-number {
        margin-right: vc(56);
        border: 2px solid $color-brown;
        border-radius: 5px;
        padding: vc(17) vc(37);
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(16);
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-white;
        background: $color-theme;
        transition: all 0.5s linear;

        @include desktop {
            &:hover {
                background: $color-brown;
            }
        }

        @include devices {
            display: none;
            margin-right: 0;
            margin-left: -1px;
            border-width: 1.54377px;
            padding: vc(12) vc(28);
            font-size: vc(13);
            line-height: vc(16);

            .is-home & {
                display: inline-block;
                flex-shrink: 0;
            }
        }
    }

    &-bcalc {
        margin-right: vc(52);
        border: 2px solid $color-brown;
        border-radius: 5px;
        padding: vc(16) vc(48) vc(18);
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(16);
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background: $color-brown;
        color: $color-white;
        transition: all 0.5s linear;
        cursor: pointer;

        @include desktop {
            &:hover {
                background: $color-theme;
            }
        }

        @include devices {
            display: none;
            margin-right: 0;
            margin-top: vc(16);
            padding: vc(12) vc(28);
            width: 100%;
            font-weight: 400;
            font-size: vc(13);
            line-height: vc(16);

            .is-home & {
                display: inline-block;
            }
        }
    }

    &-burger {
        flex-shrink: 0;
        z-index: 100;
        flex-direction: column;
        margin: vc(-6.5 * 0.5) 0;
        margin-left: auto;
        width: vc(58);
        color: $color-brown;
        cursor: pointer;

        span {
            display: block;
            border-radius: 5px;
            margin: vc(15.5) 0;
            width: 100%;
            height: vc(4);
            background-color: currentColor;
            transition: $duration-normal;

            @include devices {
                margin: vc(9.5) 0;
            }
        }

        @include active {
            span {
                &:first-child {
                    transform: translate(0, vc(19)) rotate(-45deg);

                    @include devices {
                        transform: translate(0, vc(11)) rotate(-45deg);
                    }
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: translate(0, vc(-20)) rotate(45deg);


                    @include devices {
                        transform: translate(0, vc(-16)) rotate(45deg);
                    }
                }
            }
        }

        @include devices {
            margin-top: vc(8);
            margin-bottom: 0;
            width: vc(41);

            .is-home & {
                display: none;
            }
        }
    }

    @include devices {
        flex-wrap: wrap;
        padding-top: vc(37);
        justify-content: stretch;

        .is-home & {
            padding-top: vc(15);
        }
    }
}

.menu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 65%;
    height: 100%;
    background: $color-theme;
    transform: translateX(150%);
    transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    .header-burger {
        margin-left: 0;
    }
    ul {
        padding-top: vc(61);
        flex: 1;

        li {
            margin-bottom: vc(38);
            text-align: right;

            a {
                font-weight: 400;
                font-size: vc(24);
                line-height: vc(30);
                text-align: right;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: $color-brown;

                @include devices {
                    font-size: vc(16);
                    line-height: vc(19);
                }
            }

            @include devices {
                text-align: center;
            }
        }
    }

    &-center {
        display: flex;
        margin-top: vc(88);

        @include desktop {
            padding-right: 11%;
        }

        @include devices {
            margin-top: vc(47);
        }
    }

    &-cards {
        display: flex;
        flex-wrap: wrap;
        width: 64.7%;

        .index-item {
            width: calc(100% / 3);
        }
    }

    @include desktop {

        padding-top: vc(82);

        .header-right {
            padding-left: vc(158);
            padding-right: vc(136);
            justify-content: flex-end;
        }
    }

    &.is-active {
        transform: translateX(0);
    }

    @include devices {
        left: 0;
        right: 0;
        top: 0;
        padding-top: vc(30);
        width: 100%;

        .header-social {
            display: flex;
            order: 2;
        }

        .header-number,
        .header-bcalc{
            display: inline-block;
        }

        .header-number {
            order: 3;
        }

        .header-bcalc{
            order: 4;
        }

        ul {
            order: 1;
            padding-top: 0;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 vc(30);
        }

        &-center {
            flex-flow: column;
        }

        &-cards {
            width: 100%;
            order: 2;
            margin-top: vc(16);
        }

        .header-burger {
            order: 1;
        }

        .header-right.for-devices {
            margin-top: vc(30);
        }
    }
}
