extends @pug/base

append globals
    - pageName = 'home'
    - title = data[pageName]?.meta?.title ?? data.general.title
    - description = data[pageName]?.meta?.description ?? data.general.description
    - image = data[pageName]?.meta?.image ?? data.general.image

append vars
    - meta.keywords = data[pageName]?.meta?.keywords ?? data.general.keywords

    each linkValue, linkKey in data.general.link
        - link[linkKey] = linkValue

    each metaValue, metaKey in data.general.meta
        - meta[metaKey] = metaValue

block content
    .popup-form.is-hidden(data-item="lead-form")
        .popup-form-bg
        .popup-form-content.is-hidden
            .form

                .title-md.title-white
                    | Оставьте свои#[br] контакты,#[br] и мы рассчитаем стоимость#[br] проекта для вас
                    .popup-form-close
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5808 10.1823L2.39851 0L0 2.39851L10.1823 12.5808L0 22.7632L2.39851 25.1617L12.5808 14.9794L22.7632 25.1617L25.1617 22.7632L14.9794 12.5808L25.1617 2.39851L22.7632 1.3487e-06L12.5808 10.1823Z" fill="white"/>
                        </svg>
                .form-input
                    input(placeholder="Имя и фамилия")
                .form-container
                    .form-input
                        input(placeholder="Номер телефона")
                    .form-input
                        input(placeholder="E-mail")

                .form-textarea
                    textarea(placeholder="Комментарий")
                button.form-button(type="submit") отправить
                .form-text
                    | Нажимая кнопку «Отправить», вы соглашаетесь с #[a(href="") политикой конфиденциальности]
                .form-success.is-hidden
                    .form-success-svg
                        <svg width="146" height="146" viewBox="0 0 146 146" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M145.5 73C145.5 113.041 113.041 145.5 73 145.5C32.9594 145.5 0.5 113.041 0.5 73C0.5 32.9594 32.9594 0.5 73 0.5C113.041 0.5 145.5 32.9594 145.5 73Z" fill="transparent" stroke="white"/>
                        <path d="M140.496 72.8116V73.1258C103.449 73.3936 73.452 103.399 73.1847 140.493H72.8704C72.6029 103.399 42.5951 73.3933 5.50781 73.1258V72.8116C42.6046 72.5442 72.6025 42.5395 72.8703 5.50488H73.1847C73.4525 42.549 103.46 72.5438 140.496 72.8116Z" fill="transparent" stroke="white"/>
                        </svg>

                    .title-md.title-white
                        | Заявка отправлена!
                    .text-form
                        | Мы свяжемся с вами в кратчайшие сроки, обсудим детали и договоримся о дате выезда на бесплатный замер

    .site(data-scroll-container)
        include @components/header/header

        .container
            .error-404
                .error-404-svg
                    <svg width="463" height="222" viewBox="0 0 463 222" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M71.7997 221.724C63.7571 221.724 54.9361 219.389 45.3369 214.719C35.8674 210.049 31.1326 204.082 31.1326 196.818C31.1326 190.461 34.5702 181.835 41.4453 170.939C31.3272 171.976 24.4521 172.495 20.82 172.495C16.0203 172.495 11.3504 169.382 6.81027 163.156C2.39981 156.799 0.129719 150.378 0 143.892C0 140.649 4.0213 135.655 12.0639 128.91C20.2362 122.035 29.576 115.03 40.0833 107.895C50.7203 100.761 61.8761 92.4585 73.5509 82.989C85.2256 73.5195 93.7222 65.0878 99.0407 57.6937C102.413 57.1749 107.018 57.9532 112.856 60.0287C118.823 61.9745 124.206 64.8283 129.006 68.5902C133.935 72.352 136.4 76.1139 136.4 79.8758C136.4 83.3782 134.843 87.9832 131.73 93.6909C128.746 99.2688 123.558 107.571 116.164 118.597C108.77 129.623 103.321 137.99 99.819 143.698C105.008 145.125 108.705 147.719 110.91 151.481C113.245 155.243 114.283 158.81 114.023 162.183C113.894 165.555 113.245 168.669 112.078 171.522C105.462 168.409 97.0949 166.853 86.9768 166.853C76.8587 187.348 71.7997 205.639 71.7997 221.724ZM30.5489 146.227C35.9971 145.06 45.9206 144.022 60.3195 143.114C73.8103 124.175 83.215 109.322 88.5334 98.5553C74.9129 113.343 55.5847 129.234 30.5489 146.227Z" fill="#005563"/>
                    <path d="M171.47 220.751C160.054 220.751 148.574 215.368 137.029 204.601C125.484 193.704 119.712 181.187 119.712 167.047C119.712 153.037 124.706 139.352 134.694 125.991C144.683 112.63 154.347 104.263 163.687 100.89V96.2204C163.946 87.5292 169.07 79.0326 179.058 70.7305C189.176 62.2988 201.305 58.0829 215.445 58.0829C223.228 58.0829 230.427 60.807 237.043 66.2552C243.659 71.7034 248.718 78.384 252.22 86.2969C255.722 94.08 257.474 101.798 257.474 109.452C257.474 115.289 256.112 122.748 253.387 131.828C250.663 140.909 246.642 150.573 241.324 160.821C236.005 171.068 229.973 180.668 223.228 189.618C216.482 198.569 208.505 206.028 199.294 211.995C190.214 217.832 180.939 220.751 171.47 220.751ZM167.967 181.251C175.102 181.251 183.08 176.192 191.9 166.074C200.851 155.826 208.245 144.281 214.083 131.439C219.92 118.597 222.839 108.219 222.839 100.307C222.839 97.4527 221.995 95.1826 220.309 93.4963C218.752 91.6802 216.742 90.7722 214.277 90.7722C207.791 90.7722 201.565 94.534 195.598 102.058C189.63 109.581 185.804 116.521 184.117 122.878C181.912 123.007 179.707 122.878 177.502 122.489C172.183 130.272 167.773 138.768 164.27 147.978C160.898 157.059 159.211 164.647 159.211 170.744C159.211 173.857 160.054 176.387 161.741 178.333C163.427 180.279 165.503 181.251 167.967 181.251Z" fill="#005563"/>
                    <path d="M324.334 221.724C316.292 221.724 307.471 219.389 297.872 214.719C288.402 210.049 283.667 204.082 283.667 196.818C283.667 190.461 287.105 181.835 293.98 170.939C283.862 171.976 276.987 172.495 273.355 172.495C268.555 172.495 263.885 169.382 259.345 163.156C254.934 156.799 252.664 150.378 252.535 143.892C252.535 140.649 256.556 135.655 264.599 128.91C272.771 122.035 282.111 115.03 292.618 107.895C303.255 100.761 314.411 92.4585 326.086 82.989C337.76 73.5195 346.257 65.0878 351.575 57.6937C354.948 57.1749 359.553 57.9532 365.39 60.0287C371.358 61.9745 376.741 64.8283 381.541 68.5902C386.47 72.352 388.935 76.1139 388.935 79.8758C388.935 83.3782 387.378 87.9832 384.265 93.6909C381.281 99.2688 376.092 107.571 368.698 118.597C361.304 129.623 355.856 137.99 352.354 143.698C357.542 145.125 361.239 147.719 363.445 151.481C365.78 155.243 366.817 158.81 366.558 162.183C366.428 165.555 365.78 168.669 364.612 171.522C357.996 168.409 349.63 166.853 339.511 166.853C329.393 187.348 324.334 205.639 324.334 221.724ZM283.084 146.227C288.532 145.06 298.455 144.022 312.854 143.114C326.345 124.175 335.75 109.322 341.068 98.5553C327.448 113.343 308.119 129.234 283.084 146.227Z" fill="#005563"/>
                    <path d="M425.982 0H425.246C425.246 19.1268 409.016 34.6604 389 34.6604V35.3272C409.016 35.3272 425.246 50.8485 425.246 70H425.982C425.982 50.8485 442.212 35.3272 462.228 35.3272V34.6604C442.212 34.6604 425.982 19.1392 425.982 0Z" fill="#B48C45"/>
                    </svg>
                .error-404-title
                    | ой, что-то пошло не так
                .error-404-text
                    | Если у вас возникли проблемы с заявкой и рассчетом стоимости, вы можете связаться с нами с помощью мессенджерей и по телефону, или просто вернуться назад
                a.error-404-button(href="/")
                    | вернуться назад
        include @components/footer/footer
