.error-404 {
    margin-top: vc(109);
    margin-bottom: vc(209);
    text-align: center;

    &-svg {
        position: relative;

        margin: 0 auto;


        @include desktop {
            left: vc(51);
            width: vc(462.23);
            height: vc(221.72);
        }

        @include devices {
            left: 21px;
            width: 275.6px;
            height: 135.29px;
        }
    }

    &-title {
        margin-top: vc(61);
        margin-bottom: vc(17);
        font-weight: 400;
        font-size: vc(41.1765);
        line-height: vc(51);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-brown;

        @include devices {
            margin-top: vc(52);
            margin-bottom: vc(24);
            font-size: vc(30);
            line-height: vc(37);
        }
    }

    &-text {
        margin: 0 auto vc(53);
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(21);
        color: $color-text;

        @include desktop {
            width: vc(670);
        }

        @include devices {
            margin-bottom: vc(51);
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    &-button {
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        padding: vc(14) 0 vc(12);
        border: 2px solid $color-theme;
        width: vc(303);
        font-size: vc(14);
        line-height: vc(17);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        background: $color-theme;
        transition: all 0.5s linear;

        @include desktop {
            &:hover {
                color: $color-brown;
            }
        }

        @include devices {
            border-radius: 4px;
            padding-top: vc(13);
            padding-bottom: vc(10);
            width: vc(315);
            font-size: vc(13);
            line-height: vc(16);
        }
    }

    @include devices {
        margin-top: 47px;
        margin-bottom: 60px;
    }
}
