.reviews {
    margin-top: vc(31);

    &-slider {

    }

    .slick-slide {
        @include desktop {
            margin-right: vc(30);
        }
    }

    &-item {

    }

    &-card {
        padding: vc(58) vc(70) vc(60);
        background: #F5F5F5;
        border-radius: 20px;

        &.is-open {
            .reviews-more {
                display: none;
            }
        }

        @include devices {
            border-radius: 5px;
            padding: vc(27) vc(27) vc(19);
        }
    }

    &-top {
        margin-bottom: vc(41);

        @include desktop {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @include devices {
            margin-bottom: vc(17);
        }
    }

    &-left {
        display: flex;
        align-items: center;
    }

    &-img {
        margin-right: vc(18);
        border-radius: 50%;
        border: 3px solid #B48C45;
        width: vc(58);
        height: vc(58);

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include devices {
            margin-right: vc(17);
            width: vc(59);
            height: vc(59);
        }
    }

    &-title {
        font-family: $HelveticaNW;
        font-weight: 500;
        font-size: vc(20);
        line-height: vc(25);

        @include devices {
            font-size: vc(16);
            line-height: vc(18);
        }
    }

    &-right {
        display: flex;
        align-items: center;

        a {
            display: block;

            @include desktop {
                width: vc(58);
                height: vc(58);
                margin-left: vc(20);
            }

            @include devices {
                margin-right: vc(12);
                width: vc(34.97);
                height: vc(34.97);
            }
        }

        @include devices {
            margin-top: vc(14);
        }
    }

    &-info {
        .text {
            margin-bottom: vc(20);

            &:last-child {
                margin-bottom: vc(7);
            }

            @include devices {
                margin-bottom: vc(11);
            }
        }
    }

    &-more {
        font-weight: 400;
        font-size: vc(16);
        line-height: vc(20);
        color: $color-theme;
        cursor: pointer;

        @include devices {
            font-size: vc(12);
            line-height: vc(15);
        }
    }

    @include devices {
        margin-top: vc(19);

    }
}
